body{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #37393A;
}
li{
    list-style: none;
}
nav ul{
    top:0;
    left:0;
    position: fixed;
    margin:0;
    padding: 0;
    width: 100%;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    background-color: #37393A;
    text-align: center;
}
nav ul li{
    display: inline;
    float: left;
    margin-top: 14px;
    background-color: onix;
}
nav ul li a{
    padding: 17px;
    text-decoration: none;
    transition: all 0.5s;
}
nav ul li a:hover{
    color:white;
    text-shadow:10px 5px 10px white;
}
.menuNoSeleccionado{
    color:#00A5CF;
    text-shadow:5px 5px 20px #00A5CF;
}
.menuSeleccionado{
    color:#9B5094;
    text-shadow:5px 5px 20px #9B5094;
}