body{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #37393A;
}
ul{
    top:0;
    left:0;
    position: fixed;
    list-style: none;
    margin:0;
    padding: 0;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background-color: #37393A;
    text-align: center;
}
li{
    display: inline;
    float: left;
    margin-top: 14px;
    background-color: onix;
}
li a{
    padding: 17px;
    text-decoration: none;
}
li a:hover{
    color:white;
    text-shadow:10px 5px 10px white;
}
img{
    width: 80%;
}
.menuNoSeleccionado{
    color:#00A5CF;
    text-shadow:10px 5px 10px #00A5CF;
}
.menuSeleccionado{
    color:#9B5094;
    text-shadow:10px 5px 10px #9B5094;
}
#carruselPrincipal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mostrar{
    border:solid 1px #9B5094;
}
.oculto{
    display:none;
}


